@import 'tailwindcss';

:root {
  --background: #18181b;
  --foreground: #ffffff;
  --accent-lime: rgba(163, 230, 53, 0.47);
}

body {
  background: var(--background);
  color: var(--foreground);
}

body h1,
h2 {
  font-weight: 800;
}

body h1 {
  font-size: 3.815rem;
}

h2 {
  font-size: 3.052rem;
}

p {
  font-size: 1rem;
}

.bg-accent-lime {
  background-color: var(--accent-lime);
}
